.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  min-width: 100vw;
  color: var(--primary-color-1);
  background: #18276ff5;
  box-shadow: 0px 2px 3px 0px rgb(39 32 140 / 81%);
  box-shadow: 0px 2px 3px 0px rgb(27 23 93 / 81%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
.navbar-container.hamburger-active {
  display: block;
}
.left-side {
  max-width: 125.06px;
}
.right-side,
.projects,
.blog {
  display: flex;
  align-items: center;
}
.right-side {
  margin-right: 1em;
  min-height: 0;
  transition: 0.3s;
}
.right-side.hamburger-active {
  flex-direction: column;
  min-height: 15em;
  padding-top: 4em;
  margin-bottom: 3em;
  margin-right: 0;
}
.projects,
.blog {
  height: 100%;
}
.projects.hamburger-active,
.blog.hamburger-active {
  display: block;
  font-size: 1.1em;
  min-width: 180px;
  min-height: 50px;
  padding: 0.625em;
}
.projects.hamburger-active {
  padding: 0;
  border-left: 1px solid;
}
.projects.hamburger-active.menu-open {
  border-bottom: 0;
}

.projects.hamburger-active {
  min-height: 50.8px;
}
.home,
.projects,
.blog {
  padding: 0.5em 0.625em;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}
.home:hover,
.projects:hover,
.blog:hover {
  background: #152c9ff5;
}
.home.active,
.projects.active,
.blog.active {
  border-bottom: 3px solid var(--primary-color-3);
}
.home .myself {
  transition: 0.3s;
  transform: scale(1);
}
.home:hover .myself {
  transform: scale(1.05);
  will-change: transform;
}
.projects {
  position: relative;
  background: inherit;
  cursor: pointer;
  user-select: none;
}
.menu-title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.right-side.hamburger-active .menu-title {
  padding: 0.625em;
}
.menu-title i {
  transition: 0.3s;
  transform: rotate(0);
}
.menu-title i.rotate {
  transform: rotate(90deg);
}
.menu {
  min-width: 150px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 106%;
  color: var(--primary-color-1);
  background: #18276fa1;
}
.menu.open {
  max-height: 400px;
}
.menu.hamburger-active {
  position: initial;
}
.menu .project.active {
  border-left: 4px solid goldenrod;
}
.menu.hamburger-active .project.active {
  border: none;
  border-bottom: 2px solid goldenrod;
}
.menu.hamburger-active a {
  font-size: 0.85em;
}
.menu a {
  color: var(--primary-color-1);
  text-decoration: none;
}
.menu a:not(:last-child) {
  border-bottom: 1px solid #b0b0b0;
}
.project {
  padding: 0.625em;
  display: block;
  transition: 0.3s;
}
.project:hover {
  background: var(--primary-color-2);
}

.myself {
  color: var(--primary-color-3);
  font-weight: 600;
}
.job-position {
  font-size: 0.8em;
}

.nav-toggler {
  display: none;
  position: absolute;
  top: 0;
  right: 2px;
  width: 3em;
  min-height: 62px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.625em;
  padding-bottom: 0.5em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.nav-toggler .line {
  display: none;
  width: 100%;
  height: 0.15rem;
  background: #f1f1f1;
  transition: 0.3s ease-out;
}
.l1 {
  transform: translateY(-7px);
}
.l3 {
  transform: translateY(7px);
}
.nav-toggler.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.active .l2 {
  animation: moveLeft 0.4s forwards;
}
.scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: var(--primary-color-5);
  padding: 0.525em 1em;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgb(140 140 140 / 81%);
  z-index: 1;
  border: none;
  outline: none;
}
.scroll-to-top.enabled {
  cursor: pointer;
}
.scroll-to-top i {
  color: #fff;
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}
.nav-toggler.active .l3 {
  transform: translateY(-5px) rotate(-135deg);
}

@media (max-width: 500px) {
  .nav-toggler {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0.5em;
  }
  .nav-toggler .line {
    display: block;
  }
  .projects,
  .blog {
    display: none;
  }
}
