.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  min-width: 100vw;
  color: var(--primary-color-1);
  background: #18276ff5;
  box-shadow: 0px 2px 3px 0px rgb(39 32 140 / 81%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
.left-side,
.right-side,
.projects,
.blog {
  display: flex;
  align-items: center;
}
.right-side {
  gap: 0.3em;
}
.projects,
.blog {
  height: 100%;
}
.home,
.projects,
.blog {
  padding: 0.5em 0.625em;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}
.home:hover,
.projects:hover,
.blog:hover {
  background: #152c9ff5;
}
.home.active,
.projects.active,
.blog.active {
  border-bottom: 3px solid var(--primary-color-3);
}
.home .myself {
  transition: 0.3s;
  transform: scale(1);
}
.home:hover .myself {
  transform: scale(1.05);
  will-change: transform;
}
.projects {
  position: relative;
  background: inherit;
  cursor: pointer;
  user-select: none;
}
.menu .project.active {
  border-left: 4px solid goldenrod;
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.625em;
}
.menu-title i {
  transition: 0.3s;
  transform: rotate(0);
}
.menu-title i.rotate {
  transform: rotate(90deg);
}
.menu {
  min-width: 150px;
  position: absolute;
  left: 0;
  top: 105%;
  color: var(--primary-color-1);
  background: #18276fa1;
}
.menu a {
  color: var(--primary-color-1);
  text-decoration: none;
}
.menu a:not(:last-child) {
  border-bottom: 1px solid #b0b0b0;
}
.project {
  padding: 0.625em;
  display: block;
  transition: 0.3s;
}
.project:hover {
  background: var(--primary-color-2);
}

.myself {
  color: var(--primary-color-3);
  font-weight: 600;
}
.job-position {
  font-size: 0.8em;
}
