.navbar {
  position: fixed;
  top: 0;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  /* gap: 2em; */
  z-index: 2;
  width: 100%;
  color: var(--primary-color-1);
  background: #18276ff5;
  box-shadow: 0px 2px 3px 0px rgb(39 32 140 / 81%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
.left-side,
.right-side,
.projects,
.blog {
  display: flex;
  align-items: center;
}
.right-side {
  gap: 0.3em;
}
.projects,
.blog {
  height: 100%;
}
.home,
.projects,
.blog {
  padding: 0.625em;
}
.menu-container {
  background: inherit;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.menu-title {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.625em;
}
.menu-title i {
  transition: 0.3s;
  transform: rotate(0);
}
.menu-title i.rotate {
  transform: rotate(90deg);
}
.menu {
  min-width: 150px;
  position: absolute;
  left: 0;
  top: 100%;
  color: var(--primary-color-1);
  background: #18276fa1;
}

.menu a:not(:last-child) {
  border-bottom: 1px solid #3f3f3f;
}
.project {
  padding: 0.625em;
  display: block;
  transition: 0.3s;
}
.project:hover {
  background: var(--primary-color-2);
}

.myself {
  color: var(--primary-color-3);
  font-weight: 600;
}
.job-position {
  font-size: 0.8em;
}
