<nav class="navbar" clickOutside (clickOutside)="clickedOutsideHamburger()">
  <div
    class="navbar-container"
    [ngClass]="{ 'hamburger-active': isHamburgerOpen }"
  >
    <div class="left-side">
      <div
        class="home"
        routerLink="portfolio"
        routerLinkActive="active"
        (click)="unExpandNavigationMenu()"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="myself">Manu Claeys</p>
        <p class="job-position">Web Dev</p>
      </div>
    </div>
    <div class="right-side" [ngClass]="{ 'hamburger-active': isHamburgerOpen }">
      <button
        type="button"
        class="nav-toggler"
        (click)="toggleHamburgerIcon()"
        aria-label="Hamburger icon"
        [ngClass]="{ active: isHamburgerOpen }"
      >
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
      </button>
      <div
        class="projects"
        clickOutside
        (clickOutside)="clickedOutsideMenu()"
        (click)="toggleMenu()"
        [ngClass]="{
          'hamburger-active': isHamburgerOpen,
          'menu-open': isMenuOpened
        }"
        *ngIf="!isResponsiveMode || isHamburgerOpen"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="menu-title">
          <p>Projects</p>
          <i
            class="fa-solid fa-angle-right"
            [ngClass]="{ rotate: isMenuOpened }"
          ></i>
        </div>
        <div
          class="menu"
          [ngClass]="{
            open: isMenuOpened,
            'hamburger-active': isHamburgerOpen
          }"
        >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/js-in-practice"
            >JS in practice</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/food-app-project"
            >Food-App</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/roadster-api-project"
            >Roadster API</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/eco-actions-project"
            >EcoActions</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/coffee-api-project"
            >Coffee-API</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/music-school-project"
            >Music School</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/demand-project"
            >Demand</a
          >
          <a
            class="project"
            routerLinkActive="active"
            (click)="unExpandNavigationMenu()"
            routerLink="portfolio/other-projects"
            >Other projects</a
          >
        </div>
      </div>
      <div
        class="blog"
        routerLink="portfolio/blog"
        routerLinkActive="active"
        (click)="unExpandNavigationMenu()"
        [ngClass]="{ 'hamburger-active': isHamburgerOpen }"
        *ngIf="!isResponsiveMode || isHamburgerOpen"
      >
        Blog
      </div>
    </div>
  </div>
</nav>
<button
  class="scroll-to-top"
  aria-label="scroll-to-top"
  [@opacityAnimation]="scrollingTopEnabled ? 'visible' : 'invisible'"
  [class.enabled]="scrollingTopEnabled"
  (click)="scrollTop()"
>
  <i class="fa-solid fa-arrow-up-long"></i>
</button>
