footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background: var(--primary-color-5);
  color: var(--primary-color-1);
}
.own-design p {
  font-size: 0.9em;
}
footer {
  padding: 1em;
}
.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}
.icons {
  display: flex;
  gap: 0.8em;
}
.icons a {
  display: block;
  cursor: pointer;
  font-size: 1.4em;
  color: gold;
}
.icons a:hover {
  animation: scalingUp 0.4s forwards;
}
.contact-footer .fa-envelope {
  margin-right: 0;
}
footer .current-date {
  margin-left: auto;
  font-size: 0.8em;
}
.current-date i {
  margin-right: 0.3em;
}
.emphasize.blue {
  font-weight: 600;
  color: var(--primary-color-3);
}
.own-design > p {
  font-size: 0.8em;
}
