<footer>
  <div class="current-date">
    <p><i class="fa-regular fa-copyright"></i> April 2023</p>
  </div>
  <div class="own-design">
    <div class="contact-footer">
      <div class="icons">
        <a
          href="https://www.linkedin.com/in/manu-claeys-3195a87b"
          target="_blank"
          aria-label="contact LinkedIn"
        >
          <i class="fa-brands fa-linkedin"></i> </a
        ><a href="mailTo: unam31@gmail.com" aria-label="contact mail"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </div>
      <p>
        <span class="emphasize blue">Manu Claeys,</span> Front-End Developer.
      </p>
    </div>
    <p>Own design, realised without template. Fired with Angular.</p>
  </div>
</footer>
