.carousel {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  padding: 1em 0;
  margin: 4em auto 7em;
}
.projects-container {
  display: flex;
  justify-content: space-around;
  transform: translate3d(0, 0, 0);
  width: 700%;
}
.project {
  display: grid;
  grid-template-rows: 200px auto;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0px 3px 4px 0px rgb(160 160 160 / 83%);
  width: 10%;
  user-select: none;
}
.project.dragging {
  cursor: grab;
}
.project img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.description {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 250px;
  padding: 0.625em;
}
.description .title,
.see-more {
  text-align: center;
  color: var(--primary-color-3);
  font-weight: 600;
  font-size: 1.1em;
}
.see-more-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.see-more-container p {
  cursor: pointer;
  font-size: 0.9em;
}
.see-more-container p:last-child {
  cursor: initial;
  color: var(--primary-color-2);
  font-weight: 600;
  font-size: 0.8em;
}
.see-more:hover {
  text-decoration: underline;
}
.content .date p {
  margin: 0;
}
.description .date {
  margin-top: 1.5em;
  display: flex;
}
.description .date p {
  font-size: 0.8em;
  color: var(--primary-color-4);
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.1em;
}
.actions a {
  cursor: pointer;
  font-weight: 600;
  color: #101924;
  text-decoration: none;
  transition: 0.3s;
}
.actions a:hover {
  color: green;
}
.actions a:first-child:hover {
  color: var(--primary-color-6);
}
.actions i {
  color: black;
  font-size: 0.9em;
  margin-right: 0.4em;
}
.actions i.fa-tower-broadcast {
  color: var(--primary-color-6);
}
.actions .fa-github {
  font-size: 1.1em;
}
.picture {
  position: relative;
  height: 100%;
  max-height: 200px;
}
.tech-stack {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 0.2em;
  padding: 0.2em;
  justify-content: flex-end;
}
.tech-stack img {
  display: block;
  width: auto;
  height: 20px;
  border-radius: 0.2em;
}
.previous,
.next {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0.25em;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
  border: none;
  outline: none;
  background: none;
}
.previous.limit,
.next.limit {
  opacity: 0.3;
  cursor: not-allowed;
}
.next {
  right: 0;
  left: auto;
}
.bullets-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.bullet {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #dbdada;
  cursor: pointer;
  transition: background-color 0.4s;
}
.bullet.current {
  background: var(--primary-color-3);
}

@media (min-width: 650px) {
  .previous,
  .next {
    display: inline-block;
    background: var(--primary-color-3);
    padding: 0.4em 0.5em;
    color: white;
    border-radius: 0.3em;
    box-shadow: 0px 2px 4px 0px rgb(158 158 158 / 83%);
  }
  .previous {
    margin-left: 2em;
  }
  .next {
    margin-right: 2em;
  }
}
@media (min-width: 800px) {
  .previous {
    margin-left: 3em;
  }
  .next {
    margin-right: 3em;
  }
}
