.project-container {
  margin-top: 10em;
}
.project-container img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.description {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5em;
}
.text {
  padding: 0.625em;
}
