<div class="project-container">
  <div class="description">
    <div class="introduction">
      <h2 class="section-title">Food-App</h2>
      <img
        src="../../assets/projects-img/food-app2.png"
        alt="Image of food plate"
      />
    </div>
    <div class="text">
      <p>
        Food-App keeps track of your food products and their expiry date.
        Because it's easy to lose sight of the expiry date of what we buy, the
        purpose of this project is to reduce food waste with the help of
        notifications. Data is stored on Firebase.
      </p>
    </div>
  </div>
  <app-pro-contra [project]="project"></app-pro-contra>
</div>
