<div class="good-dev-container">
  <span class="intro-banner"></span>
  <div class="background-wrapper">
    <div class="article-container">
      <section class="article">
        <div class="img-container">
          <img src="../../assets/universe2.jpg" alt="Chess game" />
        </div>
        <article class="general-content">
          <h2 class="section-title">Clean Code</h2>
          <hr />
          <div class="content">
            <svg
              class="caducee"
              viewBox="0 0 121 387"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_3_53)">
                <path
                  d="M43.5 7.50006V49.5001C50.8213 46.5716 58.25 37.5001 76.5 40.5001C76.5 33.2501 77.0415 24.7245 76.5 19.0001C76.1117 14.8948 70.3331 10.2395 67.25 7.49999C61.3069 2.21919 55.7736 0.500029 51 0.500061C47.0605 0.500087 44.5 4.50006 43.5 7.50006Z"
                  fill="#6B8E23"
                />
                <path
                  d="M43.5 7.50006V49.5001C50.8213 46.5716 58.25 37.5001 76.5 40.5001C76.5 33.2501 77.0415 24.7245 76.5 19.0001C76.1117 14.8948 70.3331 10.2395 67.25 7.49999C61.3069 2.21919 55.7736 0.500029 51 0.500061C47.0605 0.500087 44.5 4.50006 43.5 7.50006Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter1_d_3_53)">
                <path
                  d="M74 87.25L71.25 193.75C64.072 196.091 50.305 201.017 49.0716 203.113C49.0568 203.464 49.0331 203.599 49 203.5C48.9618 203.385 48.9876 203.256 49.0716 203.113C49.3257 197.108 47.0097 127.994 45.75 92.25C49.0833 88.1667 59.4 81.45 74 87.25Z"
                  fill="#6B8E23"
                />
                <path
                  d="M74 87.25L71.25 193.75C63.5833 196.25 48.4 201.7 49 203.5C49.6 205.3 47.0833 130.083 45.75 92.25C49.0833 88.1667 59.4 81.45 74 87.25Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter2_d_3_53)">
                <path
                  d="M68.25 284.25L70.25 228C65.45 228 54.5833 234.5 49.75 237.75L52 295.75L68.25 284.25Z"
                  fill="#6B8E23"
                />
                <path
                  d="M68.25 284.25L70.25 228C65.45 228 54.5833 234.5 49.75 237.75L52 295.75L68.25 284.25Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter3_d_3_53)">
                <path
                  d="M66.25 314.75L53.75 323.75C53.75 341.25 54.95 376.45 59.75 377.25C64.55 378.05 66.0833 335.917 66.25 314.75Z"
                  fill="#6B8E23"
                />
                <path
                  d="M66.25 314.75L53.75 323.75C53.75 341.25 54.95 376.45 59.75 377.25C64.55 378.05 66.0833 335.917 66.25 314.75Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter4_d_3_53)">
                <path
                  d="M44 162.5L42.75 131.5C31.75 125.25 30 110.75 38.75 95.75C45.75 83.75 59.5 80.4167 65.5 80.25C66.75 80.9167 71.95 83.1 82.75 86.5C96.25 90.75 100.5 89 103.75 86.5C107 84 101.5 71 95.25 61.25C89 51.5 81.25 42.5 65.5 45C49.75 47.5 37 58 28.75 66.5C20.5 75 7.5 83.75 5.25 116.25C3.45 142.25 30.3333 157.917 44 162.5Z"
                  fill="#6B8E23"
                />
                <path
                  d="M44 162.5L42.75 131.5C31.75 125.25 30 110.75 38.75 95.75C45.75 83.75 59.5 80.4167 65.5 80.25C66.75 80.9167 71.95 83.1 82.75 86.5C96.25 90.75 100.5 89 103.75 86.5C107 84 101.5 71 95.25 61.25C89 51.5 81.25 42.5 65.5 45C49.75 47.5 37 58 28.75 66.5C20.5 75 7.5 83.75 5.25 116.25C3.45 142.25 30.3333 157.917 44 162.5Z"
                  stroke="#6B8E23"
                />
              </g>
              <ellipse
                cx="88.75"
                cy="66.625"
                rx="3.5"
                ry="4.125"
                fill="#FFFEFE"
              />
              <g filter="url(#filter5_d_3_53)">
                <path
                  d="M71.25 278.125L72.5 254.25C90.1 259.35 95.9167 269.125 96.625 273.375C98.0417 279.208 95.775 293.8 75.375 305.5C54.975 317.2 50.2917 323.125 50.5 324.625C48.5 325.375 53.25 355.875 52.5 356.875C51.9 357.675 44 348.708 40.125 344.125C37.9583 340.708 33.775 332.025 34.375 324.625C35.125 315.375 41.822 307.961 41.3125 308.312C40.6755 308.751 71.25 285.75 73.5625 283.75C75.4125 282.15 75.5417 280.25 75.375 279.5C75.375 277.625 72.9167 277.875 71.25 278.125Z"
                  fill="#6B8E23"
                />
                <path
                  d="M71.25 278.125L72.5 254.25C90.1 259.35 95.9167 269.125 96.625 273.375C98.0417 279.208 95.775 293.8 75.375 305.5C54.975 317.2 50.2917 323.125 50.5 324.625C48.5 325.375 53.25 355.875 52.5 356.875C51.9 357.675 44 348.708 40.125 344.125C37.9583 340.708 33.775 332.025 34.375 324.625C35.125 315.375 41.822 307.961 41.3125 308.312C40.6755 308.751 71.25 285.75 73.5625 283.75C75.4125 282.15 75.5417 280.25 75.375 279.5C75.375 277.625 72.9167 277.875 71.25 278.125Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter6_d_3_53)">
                <path
                  d="M66.5 314L53.5 323.625C53.5 341.958 54.8 378.4 60 377.5C65.2 376.6 66.5 334.792 66.5 314Z"
                  fill="#6B8E23"
                />
                <path
                  d="M66.5 314L53.5 323.625C53.5 341.958 54.8 378.4 60 377.5C65.2 376.6 66.5 334.792 66.5 314Z"
                  stroke="#6B8E23"
                />
              </g>
              <g filter="url(#filter7_d_3_53)">
                <path
                  d="M77 144.25L75.75 172.25C80.5 172.5 92.375 175.875 88.75 184.25C83.8785 195.505 50 206.875 45.5 209.5C42.2536 211.394 17.125 220.25 19.25 246.625C20.5417 252.917 27.825 267.375 47.625 270.375L46.75 246.625C45.0833 246.292 42.1 244.6 43.5 240.5C57.25 225.25 60.125 232.875 88.75 215.75C117.375 198.625 118.375 186.125 114.75 172.25C111.725 160.67 88.75 148.667 77 144.25Z"
                  fill="#6B8E23"
                />
                <path
                  d="M77 144.25L75.75 172.25C80.5 172.5 92.375 175.875 88.75 184.25C83.8785 195.505 50 206.875 45.5 209.5C42.2536 211.394 17.125 220.25 19.25 246.625C20.5417 252.917 27.825 267.375 47.625 270.375L46.75 246.625C45.0833 246.292 42.1 244.6 43.5 240.5C57.25 225.25 60.125 232.875 88.75 215.75C117.375 198.625 118.375 186.125 114.75 172.25C111.725 160.67 88.75 148.667 77 144.25Z"
                  stroke="#6B8E23"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_3_53"
                  x="39"
                  y="6.10352e-05"
                  width="42.2407"
                  height="58.2385"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter1_d_3_53"
                  x="41.2437"
                  y="84.4886"
                  width="37.2652"
                  height="127.543"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter2_d_3_53"
                  x="45.2396"
                  y="227.5"
                  width="29.5285"
                  height="77.1908"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter3_d_3_53"
                  x="49.25"
                  y="313.768"
                  width="21.5078"
                  height="71.9932"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter4_d_3_53"
                  x="0.663879"
                  y="44.0775"
                  width="108.551"
                  height="127.127"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter5_d_3_53"
                  x="29.8168"
                  y="253.594"
                  width="71.6491"
                  height="111.83"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter6_d_3_53"
                  x="49"
                  y="313.008"
                  width="22"
                  height="73.0096"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter7_d_3_53"
                  x="14.6226"
                  y="143.54"
                  width="106.121"
                  height="135.42"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_3_53"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_3_53"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
            <div class="title">
              <h3>Medical Centre</h3>
              <p>Clean Way, 5</p>
            </div>
            <div class="introduction">
              <div class="name">
                <p class="key">Name</p>
                <div class="value-container">
                  <p class="value">Developer</p>
                  <hr />
                </div>
              </div>
              <div class="age">
                <p class="key">Age</p>
                <div class="value-container">
                  <p class="value">Undefined</p>
                  <hr />
                </div>
              </div>
              <div class="date">
                <p class="key">Date</p>
                <div class="value-container">
                  <p class="value">31/03/2023</p>
                  <hr />
                </div>
              </div>
            </div>
            <div class="summary">
              <div class="short">
                <i class="fa-solid fa-pills"></i>
                <p>Follow conventions - 1 tab a day</p>
              </div>
              <div class="short">
                <i class="fa-solid fa-pills"></i>
                <p>Good names - 2 tabs a day</p>
              </div>
              <div class="short">
                <i class="fa-solid fa-pills"></i>
                <p>KISS principle - 3 tabs a day</p>
              </div>
              <div class="short">
                <i class="fa-solid fa-pills"></i>
                <p>Scalability - 4 tabs a day</p>
              </div>
              <div class="short">
                <i class="fa-solid fa-pills"></i>
                <p>DRY principle - 5 tabs a day</p>
              </div>
            </div>
            <div class="text">
              <div class="advice-container">
                <div class="advice">
                  <i class="fa-solid fa-pills"></i>
                  <h5>Follow conventions</h5>
                </div>
                <p>
                  Conventions are a set of rules that are commonly accepted.
                  Sharing practices increase readability and maintenability.
                  Conventions can be numerous, healthy ones can be found
                  <a href="https://javascript.info/coding-style" target="_blank"
                    >here.</a
                  >
                  This is of course not a dogmatic approach, used ones may vary
                  in practice from developer team. General view remains true
                  though.
                </p>
              </div>
              <div class="advice-container">
                <div class="advice">
                  <i class="fa-solid fa-pills"></i>
                  <h5>Good, meaningful names</h5>
                </div>
                <p>
                  Using good, meaningful names is important to improve
                  readability and understanding of current context. For exemple,
                  if a user already received a notification, you should prefer
                  <code class="var">userHasBeenNotified</code> to
                  <code class="var">notified</code>. Descriptive approach should
                  be favored. Meaningful names should be applied to everything:
                  functions, class names, variables, ...
                </p>
              </div>
              <div class="advice-container">
                <div class="advice">
                  <i class="fa-solid fa-pills"></i>
                  <h5>KISS principle</h5>
                </div>
                <p>
                  Keep It Simple, Stupid! (I'm sorry). This principle states
                  that code should be kept as simple as possible. Complex code
                  can be error prone, time consumming, and difficult to read.
                  Code should be written in the most simple and logic way (which
                  does not mean the shortest), without any unnecessary
                  complexity.
                </p>
              </div>
              <div class="advice-container">
                <div class="advice">
                  <i class="fa-solid fa-pills"></i>
                  <h5>Scalability</h5>
                </div>
                <p>
                  Scalability is the possiblity to modify, add new things
                  without having to change existing ones. Same previous exemple,
                  <code class="var">userHasBeenNotified</code> is a scalable
                  name. If you want to add an admin category, you would just
                  replace 'user' with 'admin'. Scalability is applied as well
                  for variable names as for code logic and can save you valuable
                  time.
                </p>
              </div>
              <div class="advice-container">
                <div class="advice">
                  <i class="fa-solid fa-pills"></i>
                  <h5>DRY principle</h5>
                </div>
                <p>
                  DRY principle (Don't Repeat Yourself) is a key aspect (if not
                  the most important one) of clean code. It states that code
                  duplication should be avoided. Usually, if we repeat a portion
                  of code, we should externalise it in a function. Doing this
                  will increase readability and maintenability: if this code has
                  to be changed, it will be in one place. DRY principle is
                  applied to everything, HTML and CSS included. Beeing 'DRY'
                  often increases the abstraction level, so a tradeoff between
                  abstraction and readability has to be done. You don't want an
                  ultra-optimised but hard to read code.
                </p>
              </div>
            </div>
            <div class="signature">
              <p>Doctor handwritting</p>
              <hr />
              <p>Doctor's Signature</p>
            </div>
            <app-navigate [navigation]="navigation"></app-navigate>
            <p class="limit-warning">
              This article is not intended to substitute any medical advice.
              Promptly consult your code if you believe you have a cleaning
              emergency.
            </p>
          </div>
        </article>

        <!-- navigation to add -->
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
