<header>
  <div class="presentation">
    <div class="introduction">
      <img src="../../assets/self.jpg" alt="Manu Claeys" @down />
      <p @right>Front-End Developer</p>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="wave"
      preserveAspectRatio="none"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#18276f"
        fill-opacity="1"
        d="M0,160L80,176C160,192,320,224,480,197.3C640,171,800,85,960,53.3C1120,21,1280,43,1360,53.3L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </div>
</header>
<main>
  <div class="me-cv-container">
    <section class="about-me">
      <h2 class="section-title">About me</h2>
      <div class="about-me-container">
        <div class="img-container">
          <img src="../../assets/developer.jpg" alt="Desktop of programmer" />
          <div class="tech-stack-container">
            <p>Tech Stack</p>
            <div class="tech-stack">
              <img
                src="../../assets/Angular.png"
                alt="Angular"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/Typescript.png"
                alt="Typescript"
                class="typescript"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/Javascript.png"
                alt="Javascript"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/HTML5.png"
                alt="HTML5"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/CSS3.png"
                alt="CSS3"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/NodeJS.png"
                alt="NodeJS"
                width="30px"
                height="30px"
              />
            </div>
          </div>
        </div>
        <div class="about-me-text">
          <p>
            I'm <span class="emphasize blue">Manu Claeys</span>, a passionated
            Front-End Developer from Belgium. I love crafting nice user
            interface, putting the user at the center of the light. I produce a
            clean, optimised code, with the permanent care of improving myself.
          </p>
          <p>
            Very driven by optimisation, I've discovered programming in March
            2020 while searching for a way to automate an Excel file. Since
            then, I'm passionated about coding.
          </p>
        </div>
      </div>
    </section>
    <section class="curriculum accordion">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" name="" id="item-1" />
          <label for="item-1">
            <div class="label-titel">Curriculum-Vitae</div>
          </label>
          <div class="tab-content">
            <div class="professionnal-experience container">
              <p class="title">Professionnal experience</p>
              <div class="date">2019 - {{ currentYear }}</div>
              <div class="content">
                <p>
                  Leasing credit analyst in the Bank sector. <br />
                  Carrier switch in programming : Internship in a company as
                  Front-End Developer, training in Web development, IT projects
                  applied in my work and personal projects.
                </p>
              </div>
              <div class="download">
                <a
                  href="../../assets/Certification Manu.pdf"
                  tabindex="-1"
                  download="Internship Certificate"
                  ><i class="fa-regular fa-circle-down"></i>Internship
                  Certificate</a
                >
              </div>
            </div>

            <div class="education">
              <p class="title">Education</p>
              <div class="date">2017 - 2019</div>
              <div class="content">
                <p>
                  Master's degree in Management Sciences (Economics) with honors
                  from the University of Namur.
                </p>
              </div>
              <div class="date">2014 - 2017</div>
              <div class="content">
                <p>
                  International Business Studies at EPHEC. Erasmus in Bamberg at
                  Otto Friedrich Universität (Bavaria, Germany) in economics.
                </p>
              </div>
              <div class="date">2008 - 2014</div>
              <div class="content">
                <p>
                  Studies at music conservatories (Ghent, Brussels, Cologne),
                  obtaining a higher education diploma at the Hochschule für
                  Musik und Tanz (Cologne).
                </p>
              </div>
              <div class="download">
                <a
                  href="../../assets/Curriculum Vitae ENG.pdf"
                  tabindex="-1"
                  download="Curriculum-Vitae"
                  ><i class="fa-regular fa-circle-down"></i>Curriculum-Vitae</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="carousel">
    <h2 class="section-title">Projects</h2>
    <div
      class="previous"
      (click)="onPreviousProject(projects)"
      [class.limit]="counter === 0"
    >
      <i class="fa-solid fa-arrow-left-long"></i>
    </div>
    <div class="projects-container" #projects>
      <div
        class="project-overview"
        *ngFor="let project of projectsData; let i = index"
      >
        <app-project-overview
          [projectsData]="projectsData[i]"
        ></app-project-overview>
      </div>
    </div>
    <div
      class="next"
      (click)="onNextProject(projects)"
      [class.limit]="counter === totalProjectsSlide - 1"
    >
      <i class="fa-solid fa-arrow-right-long"></i>
    </div>
    <div class="bullets-container">
      <span
        class="bullet"
        *ngFor="let bullet of numberBullets"
        [class.current]="bullet === counter"
      ></span>
    </div>
  </section>
</main>
<section class="contact">
  <div class="engagement">
    <p>I'm committed to <span class="gold">excellence.</span></p>
    <p class="contact-me">
      Contact :
      <a
        href="https://www.linkedin.com/in/manu-claeys-3195a87b"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i> </a
      ><a href="mailTo: unam31@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </p>
  </div>
</section>
<section class="values">
  <h2 class="section-title">Values</h2>
  <div class="values-container">
    <div class="value">
      <p class="single-value-title">Build with humility.</p>
      <p class="value-text">
        Programming is an open world, there is always a better solution. I
        strive for a permanent improvement.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Sharing kwowledge.</p>
      <p class="value-text">
        Individualist without beeing egoist, I like to share and help others.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Never giving up.</p>
      <p class="value-text">
        Every problem has a solution. Unconventional and creative approach
        matters.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Striving for harmony.</p>
      <p class="value-text">
        Vegetarian, Human and Animal rights are important to me. I like an
        universal, holistic approach. My favorite color is green.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Work hard.</p>
      <p class="value-text">
        Commitment to high quality standards while beeing open to criticism.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Curious.</p>
      <p class="value-text">
        I like to be aware of new technologies, following best pratices, and see
        what others realise.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
