<header>
  <div class="presentation">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="2048"
      height="1010"
      preserveAspectRatio="xMidYMid"
      viewBox="0 0 2048 1010"
    >
      <g transform="translate(1024,505) scale(1,1) translate(-1024,-505)">
        <style type="text/css">
          @keyframes ld-speed-dash {
            0% {
              transform: translate(0, -2484.2109520367135px);
            }
            100% {
              transform: translate(0, 2484.2109520367135px);
            }
          }
          .ld.ld-speed-dash {
            animation: ld-speed-dash 12.5s linear infinite;
          }
        </style>
        <g transform="translate(1024,505)">
          <g style="transform: rotate(0deg)">
            <line
              x1="972.2287557421782"
              x2="972.2287557421782"
              y1="0"
              y2="-102.0353789487836"
              stroke="#020097"
              stroke-width="2.265166250995096"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.22598479103026203s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="832.148378241096"
              x2="832.148378241096"
              y1="0"
              y2="-104.98019932458368"
              stroke="#020097"
              stroke-width="2.139124670141701"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.9860407587034048s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-130.05298889458572"
              x2="-130.05298889458572"
              y1="0"
              y2="-145.98429516221017"
              stroke="#020097"
              stroke-width="1.5191816811384515"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.372355776784362s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-875.6504491132059"
              x2="-875.6504491132059"
              y1="0"
              y2="-97.8166718082194"
              stroke="#0087f5"
              stroke-width="1.2806263258881774"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.492772320433467s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="994.840956121036"
              x2="994.840956121036"
              y1="0"
              y2="-66.04404423901204"
              stroke="#020097"
              stroke-width="1.4937434616791936"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.951445702188904s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-801.2438953273167"
              x2="-801.2438953273167"
              y1="0"
              y2="-179.69755163754772"
              stroke="#020097"
              stroke-width="0.8580143321557071"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.898095734598059s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-12.541588354828036"
              x2="-12.541588354828036"
              y1="0"
              y2="-109.2464320709372"
              stroke="#020097"
              stroke-width="2.2412805372325426"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.49525957162552s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="2.6213378098295834"
              x2="2.6213378098295834"
              y1="0"
              y2="-182.47027868471687"
              stroke="#0087f5"
              stroke-width="1.7976453467867533"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.044083689483289s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-665.4733090929267"
              x2="-665.4733090929267"
              y1="0"
              y2="-176.43521016001466"
              stroke="#020097"
              stroke-width="3.147144539283964"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.365114931113882s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="693.0926299822113"
              x2="693.0926299822113"
              y1="0"
              y2="-106.84494159997857"
              stroke="#0087f5"
              stroke-width="1.020323872471455"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.07912962463267337s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-136.1067297807399"
              x2="-136.1067297807399"
              y1="0"
              y2="-58.98535524579945"
              stroke="#020097"
              stroke-width="1.2677250443631984"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.721481551545716s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="684.2843294019253"
              x2="684.2843294019253"
              y1="0"
              y2="-176.91017894159666"
              stroke="#020097"
              stroke-width="2.626575699683083"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -10.9399248777335s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="926.1854925555135"
              x2="926.1854925555135"
              y1="0"
              y2="-91.25178519961551"
              stroke="#020097"
              stroke-width="2.3826190759968195"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.320421524083831s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-435.257348408245"
              x2="-435.257348408245"
              y1="0"
              y2="-96.06268106016682"
              stroke="#0087f5"
              stroke-width="0.3405909770567435"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -7.683736631370741s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="45.92354522570895"
              x2="45.92354522570895"
              y1="0"
              y2="-171.8236134767509"
              stroke="#0087f5"
              stroke-width="0.6730384973180222"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.5039111196105837s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-66.34462346974806"
              x2="-66.34462346974806"
              y1="0"
              y2="-186.42038312386563"
              stroke="#020097"
              stroke-width="2.219865012074366"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.645011800844795s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-210.54537108728528"
              x2="-210.54537108728528"
              y1="0"
              y2="-77.79959320814476"
              stroke="#020097"
              stroke-width="2.9269042241867167"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.4244125831863528s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="329.6026790218566"
              x2="329.6026790218566"
              y1="0"
              y2="-199.92538740920872"
              stroke="#0087f5"
              stroke-width="2.8488975748624505"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.3251856912323964s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-946.9154523339657"
              x2="-946.9154523339657"
              y1="0"
              y2="-164.55561815393764"
              stroke="#0087f5"
              stroke-width="1.7621577387071596"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.4498940638005413s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="978.7702419794587"
              x2="978.7702419794587"
              y1="0"
              y2="-131.7966914085003"
              stroke="#020097"
              stroke-width="0.7777468041894836"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.595671235634983s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="682.3169095475096"
              x2="682.3169095475096"
              y1="0"
              y2="-104.25260743523555"
              stroke="#020097"
              stroke-width="0.7489452875485265"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.10383636664955953s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="5.621629367802598"
              x2="5.621629367802598"
              y1="0"
              y2="-87.75777466071517"
              stroke="#020097"
              stroke-width="1.094317557159093"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -12.099332469511376s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-465.70698695473857"
              x2="-465.70698695473857"
              y1="0"
              y2="-114.52970380273204"
              stroke="#0087f5"
              stroke-width="1.4957032718652046"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.973368238428925s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="425.33005236800955"
              x2="425.33005236800955"
              y1="0"
              y2="-159.48307297582284"
              stroke="#020097"
              stroke-width="0.7533896133853822"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.3441903615087885s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-878.0699790996364"
              x2="-878.0699790996364"
              y1="0"
              y2="-172.10476404458703"
              stroke="#020097"
              stroke-width="0.09211039658812306"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.24137377521094017s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-361.54913867667574"
              x2="-361.54913867667574"
              y1="0"
              y2="-58.051449862802556"
              stroke="#0087f5"
              stroke-width="0.12182535802835218"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.116217753653473s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-27.25996091173829"
              x2="-27.25996091173829"
              y1="0"
              y2="-153.9987406306759"
              stroke="#020097"
              stroke-width="2.8119753040153084"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.889943398905912s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-566.5645652307526"
              x2="-566.5645652307526"
              y1="0"
              y2="-134.63261363584712"
              stroke="#020097"
              stroke-width="1.611643547711839"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.686589637163365s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-656.7959065448149"
              x2="-656.7959065448149"
              y1="0"
              y2="-178.89854826056882"
              stroke="#020097"
              stroke-width="1.9167937567357005"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.213869445706024s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-458.73114274536147"
              x2="-458.73114274536147"
              y1="0"
              y2="-64.77278532620474"
              stroke="#0087f5"
              stroke-width="1.7791138648516007"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.0638652530014125s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-328.36482484956514"
              x2="-328.36482484956514"
              y1="0"
              y2="-117.42631130405212"
              stroke="#020097"
              stroke-width="2.8830857174870452"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -7.722963508485369s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="36.350276590783324"
              x2="36.350276590783324"
              y1="0"
              y2="-200.29045361946822"
              stroke="#020097"
              stroke-width="0.6543610145520641"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.9101136578255398s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-195.20008675030476"
              x2="-195.20008675030476"
              y1="0"
              y2="-103.29929522333754"
              stroke="#0087f5"
              stroke-width="1.8343411827660474"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.153646605554612s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-543.4391962723143"
              x2="-543.4391962723143"
              y1="0"
              y2="-137.17916050643453"
              stroke="#0087f5"
              stroke-width="0.011602938146543784"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.6950645512329443s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="361.87969539400046"
              x2="361.87969539400046"
              y1="0"
              y2="-120.27252526278548"
              stroke="#020097"
              stroke-width="2.496586963104647"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.106377921993239s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-354.2570416178246"
              x2="-354.2570416178246"
              y1="0"
              y2="-115.08663473964195"
              stroke="#0087f5"
              stroke-width="2.101161484463111"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.393581066251926s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="595.4570432755941"
              x2="595.4570432755941"
              y1="0"
              y2="-71.0090976138883"
              stroke="#020097"
              stroke-width="1.7726982927473283"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.89151733286258s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-1021.7803946870145"
              x2="-1021.7803946870145"
              y1="0"
              y2="-132.67510657682826"
              stroke="#020097"
              stroke-width="1.9046166266021485"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.51566656061744s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-233.53965355607897"
              x2="-233.53965355607897"
              y1="0"
              y2="-156.89354751863482"
              stroke="#0087f5"
              stroke-width="2.899746330976117"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.435877024821692s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="243.06307810035378"
              x2="243.06307810035378"
              y1="0"
              y2="-123.20353561639038"
              stroke="#020097"
              stroke-width="0.6488946802761479"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.160715440668291s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="285.8681955256966"
              x2="285.8681955256966"
              y1="0"
              y2="-145.88447695086688"
              stroke="#020097"
              stroke-width="1.2026241003676326"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.168003642075717s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="502.74574109289824"
              x2="502.74574109289824"
              y1="0"
              y2="-185.21580457037285"
              stroke="#0087f5"
              stroke-width="0.14914002955244093"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.5981056046005268s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="58.93790899541"
              x2="58.93790899541"
              y1="0"
              y2="-199.45958859042952"
              stroke="#020097"
              stroke-width="1.5690879266511926"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -12.237782336995556s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="1008.6980729595439"
              x2="1008.6980729595439"
              y1="0"
              y2="-195.317918529473"
              stroke="#0087f5"
              stroke-width="0.4122089271087391"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.931051495114605s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-577.5732814962757"
              x2="-577.5732814962757"
              y1="0"
              y2="-176.97991895583854"
              stroke="#020097"
              stroke-width="2.246877596549728"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.212400091719087s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="369.4233409532944"
              x2="369.4233409532944"
              y1="0"
              y2="-93.5214897841017"
              stroke="#020097"
              stroke-width="0.05221431563349435"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.823052594024497s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-846.8500627911817"
              x2="-846.8500627911817"
              y1="0"
              y2="-81.72847732363894"
              stroke="#0087f5"
              stroke-width="1.7200072981867573"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.0693036736325636s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="776.2723349409148"
              x2="776.2723349409148"
              y1="0"
              y2="-66.57845758648652"
              stroke="#0087f5"
              stroke-width="0.8517185822266942"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.6966058911336095s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-418.59972239819626"
              x2="-418.59972239819626"
              y1="0"
              y2="-78.24937142794073"
              stroke="#0087f5"
              stroke-width="0.9159091044496798"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -11.179502596552698s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-209.08253311124463"
              x2="-209.08253311124463"
              y1="0"
              y2="-132.72700070215572"
              stroke="#0087f5"
              stroke-width="0.6536712177332504"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.755985516123431s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="1005.0902089594701"
              x2="1005.0902089594701"
              y1="0"
              y2="-143.06380682641046"
              stroke="#020097"
              stroke-width="3.0720602262339547"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.986065778475542s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-854.467082375405"
              x2="-854.467082375405"
              y1="0"
              y2="-123.90091442116501"
              stroke="#020097"
              stroke-width="1.942910011094068"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.093809218007656s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="902.2216611248427"
              x2="902.2216611248427"
              y1="0"
              y2="-124.81570208713475"
              stroke="#0087f5"
              stroke-width="0.5781247996107746"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -7.208614420165543s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-574.9254238917351"
              x2="-574.9254238917351"
              y1="0"
              y2="-59.860680819593235"
              stroke="#020097"
              stroke-width="0.7599925978007621"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -11.065670243630429s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="177.74043867616956"
              x2="177.74043867616956"
              y1="0"
              y2="-83.71169151667254"
              stroke="#020097"
              stroke-width="0.20849966755489366"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -10.989510409380278s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="788.5328505062953"
              x2="788.5328505062953"
              y1="0"
              y2="-99.19013251005552"
              stroke="#020097"
              stroke-width="2.967936707324625"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.31132181852311s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="320.16027062853436"
              x2="320.16027062853436"
              y1="0"
              y2="-71.74095229920083"
              stroke="#020097"
              stroke-width="2.829683145166977"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.4587053802247776s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="420.71969472886667"
              x2="420.71969472886667"
              y1="0"
              y2="-130.77516510414284"
              stroke="#020097"
              stroke-width="0.8940996386296668"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -12.29848373811104s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="676.6343911547547"
              x2="676.6343911547547"
              y1="0"
              y2="-166.40935500348704"
              stroke="#0087f5"
              stroke-width="3.099277492506736"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.497063489032333s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-971.6131760980038"
              x2="-971.6131760980038"
              y1="0"
              y2="-168.70216026578248"
              stroke="#020097"
              stroke-width="1.8704877195339786"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.7932915846213973s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="804.0820392478122"
              x2="804.0820392478122"
              y1="0"
              y2="-188.29402176380398"
              stroke="#020097"
              stroke-width="1.3706385049531362"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.670148386431949s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="635.1950221347806"
              x2="635.1950221347806"
              y1="0"
              y2="-194.82315878699438"
              stroke="#0087f5"
              stroke-width="1.3232640261091033"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.5156361448310637s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="886.0999258011284"
              x2="886.0999258011284"
              y1="0"
              y2="-70.19685595616917"
              stroke="#0087f5"
              stroke-width="1.6892169104182233"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.000467948615656s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-424.7063124286442"
              x2="-424.7063124286442"
              y1="0"
              y2="-100.47715685897165"
              stroke="#020097"
              stroke-width="0.1020699262883914"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.3418610014302631s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="519.6315688972304"
              x2="519.6315688972304"
              y1="0"
              y2="-164.75319159165744"
              stroke="#020097"
              stroke-width="1.7198858412289921"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -12.013056895443457s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-972.0119475390279"
              x2="-972.0119475390279"
              y1="0"
              y2="-75.45786507632864"
              stroke="#0087f5"
              stroke-width="1.3302985953090318"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.4104613556248229s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-270.98100948822184"
              x2="-270.98100948822184"
              y1="0"
              y2="-151.99428022438076"
              stroke="#0087f5"
              stroke-width="3.2868765029018654"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.2433723429013166s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-456.8038775873906"
              x2="-456.8038775873906"
              y1="0"
              y2="-64.30160108697457"
              stroke="#020097"
              stroke-width="2.28515792441097"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.519471282050944s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="529.3435660979035"
              x2="529.3435660979035"
              y1="0"
              y2="-66.74177901018822"
              stroke="#020097"
              stroke-width="0.808899276724617"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.6614953735370706s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="884.3691007358598"
              x2="884.3691007358598"
              y1="0"
              y2="-81.3966742844681"
              stroke="#020097"
              stroke-width="1.8997992661882268"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.832683922905247s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="228.61209242596215"
              x2="228.61209242596215"
              y1="0"
              y2="-116.63986960226744"
              stroke="#0087f5"
              stroke-width="1.3701417389633306"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.0544506945291667s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="100.45823890973361"
              x2="100.45823890973361"
              y1="0"
              y2="-184.1620452124311"
              stroke="#020097"
              stroke-width="3.0555079103651246"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.6908370393064853s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="301.91773013913917"
              x2="301.91773013913917"
              y1="0"
              y2="-87.11862512334179"
              stroke="#0087f5"
              stroke-width="0.37177287435343703"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.203641263329956s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="476.7159144076636"
              x2="476.7159144076636"
              y1="0"
              y2="-147.37526141369597"
              stroke="#0087f5"
              stroke-width="0.22739633810539014"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -9.409851553979387s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-424.63686154155766"
              x2="-424.63686154155766"
              y1="0"
              y2="-134.21549933504718"
              stroke="#0087f5"
              stroke-width="1.559638635961451"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.872098436768279s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="436.8919295053329"
              x2="436.8919295053329"
              y1="0"
              y2="-87.9889170107986"
              stroke="#020097"
              stroke-width="1.9276933168787411"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -7.885891517195059s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-148.18503119663683"
              x2="-148.18503119663683"
              y1="0"
              y2="-175.5103884140999"
              stroke="#020097"
              stroke-width="3.2138900419846883"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.184266313138968s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-704.1284771442442"
              x2="-704.1284771442442"
              y1="0"
              y2="-155.32106980800924"
              stroke="#020097"
              stroke-width="0.24701062287539324"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.236907634128957s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-753.7828550736681"
              x2="-753.7828550736681"
              y1="0"
              y2="-198.03171887678013"
              stroke="#020097"
              stroke-width="0.2927439371798137"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -2.7991972647899375s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="763.3317521467538"
              x2="763.3317521467538"
              y1="0"
              y2="-186.3147316404278"
              stroke="#0087f5"
              stroke-width="0.14850268991826995"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.513076137943624s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="841.6073217679432"
              x2="841.6073217679432"
              y1="0"
              y2="-101.75761541181345"
              stroke="#0087f5"
              stroke-width="1.171622795639742"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.892785608287855s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-198.99111216243045"
              x2="-198.99111216243045"
              y1="0"
              y2="-65.87416570259703"
              stroke="#020097"
              stroke-width="3.2735643783134223"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -7.364481701554529s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-664.5535061806663"
              x2="-664.5535061806663"
              y1="0"
              y2="-69.54277189548755"
              stroke="#0087f5"
              stroke-width="2.8445802520599774"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.605813642691528s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="486.7729395707588"
              x2="486.7729395707588"
              y1="0"
              y2="-137.5928130107542"
              stroke="#020097"
              stroke-width="0.24194985979700812"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.629676395567794s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-399.33032712830163"
              x2="-399.33032712830163"
              y1="0"
              y2="-57.532345708497914"
              stroke="#020097"
              stroke-width="0.3813526368987281"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.91805676710674s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-757.2296252978081"
              x2="-757.2296252978081"
              y1="0"
              y2="-91.70752721186082"
              stroke="#0087f5"
              stroke-width="0.9078293282341457"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -5.613547510328959s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-887.0816918460018"
              x2="-887.0816918460018"
              y1="0"
              y2="-143.21482519899772"
              stroke="#020097"
              stroke-width="1.544231414034954"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -8.552863789252301s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-720.5345112876739"
              x2="-720.5345112876739"
              y1="0"
              y2="-116.04754802970763"
              stroke="#0087f5"
              stroke-width="1.2897144116194026"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.148734663291566s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-432.1663991183523"
              x2="-432.1663991183523"
              y1="0"
              y2="-94.41508999028352"
              stroke="#020097"
              stroke-width="2.0679986849572143"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.724581179777802s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-104.16872104322101"
              x2="-104.16872104322101"
              y1="0"
              y2="-121.53314660385863"
              stroke="#0087f5"
              stroke-width="1.2163970964712643"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.194635768150233s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="615.3624026571842"
              x2="615.3624026571842"
              y1="0"
              y2="-165.86701711897226"
              stroke="#020097"
              stroke-width="2.0387528056383153"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.132525566527556s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-908.1176255464761"
              x2="-908.1176255464761"
              y1="0"
              y2="-64.77704692394606"
              stroke="#020097"
              stroke-width="2.324102314084951"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -0.6015160645149981s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="21.069192111195207"
              x2="21.069192111195207"
              y1="0"
              y2="-115.66505551741338"
              stroke="#0087f5"
              stroke-width="1.9296281742871546"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -11.54924158679943s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-899.0407129970599"
              x2="-899.0407129970599"
              y1="0"
              y2="-186.7790050747974"
              stroke="#020097"
              stroke-width="1.5305227800741041"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -6.03988648116546s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="-601.8817500675"
              x2="-601.8817500675"
              y1="0"
              y2="-111.26502194183561"
              stroke="#0087f5"
              stroke-width="3.149910697106521"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -10.704791294123458s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="1017.8097398193631"
              x2="1017.8097398193631"
              y1="0"
              y2="-129.05205443036834"
              stroke="#020097"
              stroke-width="0.30720521831528075"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -1.5256206104694414s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-794.80451900257"
              x2="-794.80451900257"
              y1="0"
              y2="-62.79307446368637"
              stroke="#0087f5"
              stroke-width="0.8078824595478863"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -10.929576117973882s;
                animation-duration: 12.5s;
              "
            ></line>
            <line
              x1="-568.7010902094767"
              x2="-568.7010902094767"
              y1="0"
              y2="-152.22964424825471"
              stroke="#0087f5"
              stroke-width="0.4386332172691677"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -3.4410724937965846s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="305.6415186003628"
              x2="305.6415186003628"
              y1="0"
              y2="-60.98504737447894"
              stroke="#020097"
              stroke-width="1.1652844826226572"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -4.321306135798397s;
                animation-duration: 6.25s;
              "
            ></line>
            <line
              x1="903.0928082487881"
              x2="903.0928082487881"
              y1="0"
              y2="-143.2703936823146"
              stroke="#020097"
              stroke-width="2.2910740716994455"
              stroke-linecap="round"
              class="ld ld-speed-dash"
              style="
                animation-delay: -10.780771261890228s;
                animation-duration: 6.25s;
              "
            ></line>
          </g>
        </g>
      </g>
    </svg>
    <div class="introduction">
      <img src="../../assets/self.jpg" alt="Manu Claeys" @down />
      <p @right>Web Developer</p>
    </div>
  </div>
</header>
<main>
  <div class="me-cv-container">
    <section class="about-me">
      <h2 class="section-title">About me</h2>
      <div class="about-me-container">
        <div class="img-container">
          <img src="../../assets/developer.jpg" alt="Desktop of programmer" />
          <div class="tech-stack-container">
            <p>Tech Stack</p>
            <div class="tech-stack">
              <img
                src="../../assets/Angular.png"
                alt="Angular"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/Typescript.png"
                alt="Typescript"
                class="typescript"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/Javascript.png"
                alt="Javascript"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/HTML5.png"
                alt="HTML5"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/CSS3.png"
                alt="CSS3"
                width="30px"
                height="30px"
              />
              <img
                src="../../assets/NodeJS.png"
                alt="NodeJS"
                width="30px"
                height="30px"
              />
            </div>
          </div>
        </div>
        <div class="about-me-text">
          <p>
            I'm <span class="emphasize blue">Manu Claeys</span>, a passionated
            Web Developer from Belgium. I love crafting nice user interface,
            putting the user at the center of the light. I produce a clean,
            optimised code, with the permanent care of improving myself.
          </p>
          <p>
            Very driven by optimisation, I've discovered programming in March
            2020 while searching for a way to automate an Excel file. Since
            then, I'm passionated about coding.
          </p>
        </div>
      </div>
    </section>
    <section class="curriculum accordion">
      <div ngTab>
        <div class="tab">
          <label ngTabLabel>
            <div>Curriculum-Vitae</div>
          </label>
          <div ngTabContent>
            <div class="professionnal-experience container">
              <p class="title">Professionnal experience</p>
              <div class="date">2023 - Now</div>
              <div class="content">
                <p>
                  Six months working at Chaps Development, working on a
                  management software. Mainly Angular developer, I also handled
                  the backend in NestJS (NodeJS), as well as work with MySQL.
                </p>
              </div>
              <div class="date">2019 - 2023</div>
              <div class="content">
                <p>
                  Leasing credit analyst in the Bank sector. <br />
                  Carrier switch in programming : Internship in a company as Web
                  Developer, training in Web development, IT projects applied in
                  my work and personal projects.
                </p>
              </div>
              <div class="download">
                <a
                  href="../../assets/Certification Manu.pdf"
                  tabindex="-1"
                  download="Internship Certificate"
                  ><i class="fa-regular fa-circle-down"></i>Internship
                  Certificate</a
                >
              </div>
            </div>
            <div class="education">
              <p class="title">Education</p>
              <div class="date">2017 - 2019</div>
              <div class="content">
                <p>
                  Master's degree in Management Sciences (Economics) with honors
                  from the University of Namur.
                </p>
              </div>
              <div class="date">2014 - 2017</div>
              <div class="content">
                <p>
                  International Business Studies at EPHEC. Erasmus in Bamberg at
                  Otto Friedrich Universität (Bavaria, Germany) in economics.
                </p>
              </div>
              <div class="date">2008 - 2014</div>
              <div class="content">
                <p>
                  Studies at music conservatories (Ghent, Brussels, Cologne),
                  obtaining a higher education diploma at the Hochschule für
                  Musik und Tanz (Cologne).
                </p>
              </div>
              <div class="download">
                <a
                  href="../../assets/Curriculum Vitae ENG.pdf"
                  tabindex="-1"
                  download="Curriculum-Vitae"
                  ><i class="fa-regular fa-circle-down"></i>Curriculum-Vitae</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="carousel">
    <app-carousel [projectsData]="projectsData"></app-carousel>
  </section>
</main>
<section class="contact">
  <div class="engagement">
    <p>I'm committed to <span class="gold">excellence.</span></p>
    <p class="contact-me">
      Contact :
      <a
        href="https://www.linkedin.com/in/manu-claeys-3195a87b"
        target="_blank"
        aria-label="contact on LinkedIn"
      >
        <i class="fa-brands fa-linkedin"></i> </a
      ><a href="mailTo: unam31@gmail.com" aria-label="contact mail"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </p>
  </div>
</section>
<section class="values">
  <h2 class="section-title">Values</h2>
  <div class="values-container">
    <div class="value">
      <p class="single-value-title">Build with humility.</p>
      <p class="value-text">
        Programming is an open world, there is always a better solution. I
        strive for a permanent improvement.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Sharing kwowledge.</p>
      <p class="value-text">
        Individualist without beeing egoist, I like to share and help others.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Never giving up.</p>
      <p class="value-text">
        Every problem has a solution. Unconventional and creative approach
        matters.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Striving for harmony.</p>
      <p class="value-text">
        Vegetarian, Human and Animal rights are important to me. I like an
        universal, holistic approach. My favorite color is green.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Quality first.</p>
      <p class="value-text">
        Flexible about almost everything, I do no compromise on quality.
      </p>
    </div>
    <div class="value">
      <p class="single-value-title">Curious.</p>
      <p class="value-text">
        I like to be aware of new technologies, following best pratices, and see
        what others realise.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
