<div class="project">
  <header>
    <div class="picture">
      <img [src]="projectsData.img['src']" [alt]="projectsData.img['alt']" />
      <div class="tech-stack">
        <div
          class="img-container"
          *ngFor="let language of projectsData.coding | keyvalue"
        >
          <img
            [src]="language.value['src']"
            [title]="language.value['title']"
          />
        </div>
      </div>
    </div>
  </header>
  <div class="description">
    <p class="title">{{ projectsData.name }}</p>
    <div class="content">
      <div class="date">
        <p>{{ projectsData.date }}</p>
      </div>
      <p class="text">
        {{ projectsData.description }}
      </p>
      <div class="see-more-container">
        <p
          class="see-more"
          [routerLink]="[projectsData.links['general']]"
          tabindex="-1"
        >
          See more
        </p>
        <p>{{ projectsData.category }}</p>
      </div>
    </div>
    <div class="actions">
      <a
        *ngIf="projectsData.links['live']"
        [href]="projectsData.links['live']"
        tabindex="-1"
        target="_blank"
      >
        <i class="fa-solid fa-tower-broadcast"></i>Live</a
      >
      <a
        *ngIf="projectsData.links['github']"
        [href]="projectsData.links['github']"
        tabindex="-1"
        target="_blank"
      >
        <i class="fa-brands fa-github"></i>Code</a
      >
    </div>
  </div>
</div>
