<div class="good-dev-container">
  <span class="intro-banner"></span>
  <div class="background-wrapper">
    <div class="article-container">
      <section class="article">
        <div class="img-container">
          <img src="../../assets/chess3.jpg" alt="Chess game" />
        </div>
        <article class="general-content">
          <h2 class="section-title">What makes a good developer&nbsp;?</h2>
          <hr />
          <div class="content">
            <div class="recipe-data">
              <div class="number-person param">
                <i class="fa-solid fa-user"></i>
                <p>1</p>
              </div>
              <span class="bullet"></span>
              <div class="time param">
                <i class="fa-solid fa-clock"></i>
                <p>Lifetime</p>
              </div>
              <span class="bullet"></span>
              <div class="difficulty param">
                <i class="fa-solid fa-ranking-star"></i>
                <p>Hard</p>
              </div>
            </div>
            <div class="ingredients-container">
              <div class="title">
                <h4>Ingredients</h4>
                <hr />
              </div>
              <div class="ingredients">
                <div class="creativity ingredient">
                  <i class="fa-regular fa-lightbulb"></i>
                  <p>Creativity</p>
                </div>
                <div class="logic ingredient">
                  <i class="fa-solid fa-gears"></i>
                  <p>Logic</p>
                </div>
                <div class="optimisation ingredient">
                  <i class="fa-solid fa-forward-fast"></i>
                  <p>Optimisation</p>
                </div>
                <div class="determination ingredient">
                  <i class="fa-solid fa-bolt"></i>
                  <p>Determination</p>
                </div>
                <div class="curiosity ingredient">
                  <i class="fa-solid fa-user-plus"></i>
                  <p>Curiosity</p>
                </div>
              </div>
            </div>
            <div class="text-container">
              <div class="title">
                <h4>Preparation</h4>
                <hr />
              </div>
              <div class="text">
                <p class="prior-steps">
                  From my point of view, a good developer combines several
                  qualities. The evolution of those qualities are not limited in
                  time.
                </p>
                <div class="text-creativity">
                  <div class="step-title">
                    <h5>Step 1</h5>
                    <i class="fa-regular fa-lightbulb"></i>
                  </div>
                  <p>
                    Programming starts often with a blank page. There is no
                    predefined path, a lot of possibilities stay opened.
                    Creativity is of course not limited to the start stage, but
                    is applied to the whole creation process. Facing a problem
                    requires also creativity: there are often multiple solutions
                    to a single problem.
                  </p>
                </div>
                <div class="text-logic">
                  <div class="step-title">
                    <h5>Step 2</h5>
                    <i class="fa-solid fa-gears"></i>
                  </div>
                  <p>
                    A strong logical mind is necessary. Good code requires a
                    well defined structure and organisation. Logic is applied as
                    much on whole sections (general, helicopter view) as on
                    particular functions (quantic view). Logic defines a
                    coherent story of instructions.
                  </p>
                </div>
                <div class="text-logic">
                  <div class="step-title">
                    <h5>Step 3</h5>
                    <i class="fa-solid fa-forward-fast"></i>
                  </div>
                  <p>
                    According to me, optimisation is a central point in
                    programming. Optimisation is closely tied with logic and
                    creativity. Optimisation is the faculty to improve the
                    efficiency of coding, finding better ways to organise code,
                    reduce repetitions. Optimisation improves readability,
                    maintenability, making the code user-friendly for everyone,
                    including yourself.
                  </p>
                </div>
                <div class="text-logic">
                  <div class="step-title">
                    <h5>Step 4</h5>
                    <i class="fa-solid fa-bolt"></i>
                  </div>
                  <p>
                    Determination is an important soft skill. It allows you to
                    not giving up while encountering difficulties. Everyone who
                    codes know that bugs are impossible to avoid: there is
                    always something that occur that we did not or could not
                    expect. And sometimes, a bug is not corrected at first try.
                    Don't give up.
                  </p>
                </div>
                <div class="text-logic">
                  <div class="step-title">
                    <h5>Step 5</h5>
                    <i class="fa-solid fa-user-plus"></i>
                  </div>
                  <p>
                    Beeing curious is key to stay up-to-date. Technology evolves
                    fast, practices too, something that is common nowadays can
                    easely becomes obsolete in the near future. Therefore, a
                    good way to maintain correct practices is to follow the
                    evolution of your technology. Priority should be given to
                    the official documentation.
                  </p>
                </div>
              </div>
            </div>
            <app-navigate [navigation]="navigation"></app-navigate>
            <p class="limit-warning">
              The order of the points presented in this article does not matter.
            </p>
          </div>
        </article>

        <!-- navigation to add -->
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
