<div class="good-dev-container">
  <span class="intro-banner"></span>
  <div class="background-wrapper">
    <div class="article-container">
      <section class="article">
        <div class="img-container">
          <img src="../../assets/chess.jpg" alt="Chess game" />
        </div>
        <article class="content">
          <h2 class="section-title">What makes a good developer&nbsp;?</h2>
          <hr />
          <div class="text">
            <p>
              From my point of view, a good developer include several qualities.
            </p>
          </div>
        </article>

        <!-- navigation to add -->
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
