<div class="other-projects">
  <div class="main-title">
    <div class="title-container">
      <h1>Other projects</h1>
      <div class="projects-shortcut">
        <p (click)="scrollToTarget(game)">Game</p>
        <span class="bullet"></span>
        <p (click)="scrollToTarget(portfolio)">This Portfolio</p>
      </div>
    </div>
    <hr />
  </div>
  <div class="general-projects-container">
    <div class="project-container calculator">
      <div class="general-description-container">
        <h2 class="section-title">Calculator</h2>
        <div class="description">
          <div class="introduction">
            <img
              src="../../assets/projects-img/calculator.png"
              alt="Image of a calculator"
            />
            <div class="date">
              <p>Dec. 2022</p>
            </div>
            <div class="coding-languages">
              <img
                src="../../assets/Javascript.png"
                alt="Coding language"
                title="Javascript"
              />
              <img
                src="../../assets/HTML5.png"
                alt="Coding language"
                title="HTML5"
              />
              <img
                src="../../assets/CSS3.png"
                alt="Coding language"
                title="CSS3"
              />
            </div>
          </div>
          <div class="text">
            <p>
              Calculator is a one page project. This project presents a basic,
              non scientific calculator, to handle simple computations. Simple
              does not mean easy: a lot of user input validations had to be
              done.
            </p>
            <p class="goal">
              Part of a
              <a
                href="https://drive.google.com/file/d/1yWuUFO9IWDAU3CtgaZkmigJOJR-izTMF/view"
                target="_blank"
                >Front-End training</a
              >, the purpose of this project is to handle multiple exceptions
              that can occur. Focus is put mainly on Javascript and the
              structure of the code. This project also offers a correct user
              experience, supporting mouse and keyboard inputs.
            </p>
            <div class="code-links">
              <a
                href="https://greenflag31.github.io/calculator"
                tabindex="-1"
                target="_blank"
                class="live"
              >
                <i class="fa-solid fa-tower-broadcast"></i>Live</a
              >
              <a
                href="https://github.com/GreenFlag31/calculator"
                tabindex="-1"
                target="_blank"
                class="github"
              >
                <i class="fa-brands fa-github"></i>Code</a
              >
            </div>
          </div>
        </div>
      </div>
      <section class="progress accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" name="" id="item-1" />
            <label for="item-1">
              <div class="label-titel">Progress</div>
            </label>
            <div class="tab-content">
              <div class="pro-contra-container">
                <div class="pros">
                  <div class="title">
                    <h2>What have I learned&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-check"></i>Deeper understanding of
                      Javascript
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Focus on user experience
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Handle multiple
                      exceptions, validation of user inputs
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Code structure, files
                      separated into modules to keep architecture optimal
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Use of JSDoc to document
                      code functions
                    </p>
                  </div>
                </div>
                <div class="cons">
                  <div class="title">
                    <h2>What could be improved&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-arrow-trend-up"></i>For high
                      structured projects, use of Object Oriented Programming
                      might be preferable
                    </p>
                    <p>
                      <i class="fa-solid fa-arrow-trend-up"></i>Use of Reactive
                      Programming might be preferable to maintain variables in a
                      flow, saving the need of manually updating them
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="project-container game" #game>
      <div class="general-description-container">
        <h2 class="section-title">Game</h2>
        <div class="description">
          <div class="introduction">
            <img
              src="../../assets/projects-img/game.png"
              alt="Image of a the Chrome console"
            />
            <div class="date">
              <p>Dec. 2022</p>
            </div>
            <div class="coding-languages">
              <img
                src="../../assets/Javascript.png"
                alt="Coding language"
                title="Javascript"
              />
              <img
                src="../../assets/HTML5.png"
                alt="Coding language"
                title="HTML5"
              />
            </div>
          </div>
          <div class="text">
            <p>
              Game is a one page project and is meant to be played and started
              in the console. This project is a classical paper-scissors-rock
              game with a touch of RPG fantasy.
            </p>
            <p class="goal">
              Part of a
              <a
                href="https://drive.google.com/file/d/1yWuUFO9IWDAU3CtgaZkmigJOJR-izTMF/view"
                target="_blank"
                >Front-End training</a
              >, the purpose of this project is to focus solely on Javascript.
              Enrichted with questions about Javascript, this game proposes a
              ranking system, storing the data in the sessionStorage.
            </p>
            <div class="code-links">
              <a
                href="https://greenflag31.github.io/JS-game"
                tabindex="-1"
                target="_blank"
                class="live"
              >
                <i class="fa-solid fa-tower-broadcast"></i>Live</a
              >
              <a
                href="https://github.com/GreenFlag31/JS-game"
                tabindex="-1"
                target="_blank"
                class="github"
              >
                <i class="fa-brands fa-github"></i>Code</a
              >
            </div>
          </div>
        </div>
      </div>
      <section class="progress accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" name="" id="item-2" />
            <label for="item-2">
              <div class="label-titel">Progress</div>
            </label>
            <div class="tab-content">
              <div class="pro-contra-container">
                <div class="pros">
                  <div class="title">
                    <h2>What have I learned&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-check"></i>Deeper understanding of
                      Object Oriented Programming
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Code structure, files
                      separated into modules to keep architecture well organised
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Validation of user inputs
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Documenting code with
                      JsDoc
                    </p>
                  </div>
                </div>
                <div class="cons">
                  <div class="title">
                    <h2>What could be improved&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-arrow-trend-up"></i>Use of
                      Typescript might be preferable instead of documenting the
                      code and delivers more control
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="project-container this-portfolio" #portfolio>
      <div class="general-description-container">
        <h2 class="section-title">This portfolio</h2>
        <div class="description">
          <div class="introduction">
            <img
              src="../../assets/projects-img/developer.jpg"
              alt="Picture of a sunny desktop"
            />
            <div class="date">
              <p>April 2023</p>
            </div>
            <div class="coding-languages">
              <img
                src="../../assets/Angular.png"
                alt="Coding language"
                title="Angular"
              />
              <img
                src="../../assets/Typescript.png"
                alt="Coding language"
                title="Typescript"
              />
              <img
                src="../../assets/HTML5.png"
                alt="Coding language"
                title="HTML5"
              />
              <img
                src="../../assets/CSS3.png"
                alt="Coding language"
                title="CSS3"
              />
            </div>
          </div>
          <div class="text">
            <p>
              This portfolio is a single page application (SPA) build with
              Angular, animated with route transitions.
            </p>
            <p class="goal">
              The goal of this website is - obviously :) - to showcase different
              projects I made and practice further Angular. A relative complex
              point has been to handle the different route animations with the
              attached scroll behaviour. Attention has been put towards a smooth
              user experience. Recommended practices by Angular are followed.
              Edit June 2023: added features to the carousel on the landing page
              to improve user experience, supporting mouse and touch event.
            </p>
            <div class="code-links">
              <a
                href="https://github.com/GreenFlag31/Portfolio"
                tabindex="-1"
                target="_blank"
                class="github"
              >
                <i class="fa-brands fa-github"></i>Code</a
              >
            </div>
          </div>
        </div>
      </div>
      <section class="progress accordion">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" name="" id="item-3" />
            <label for="item-3">
              <div class="label-titel">Progress</div>
            </label>
            <div class="tab-content">
              <div class="pro-contra-container">
                <div class="pros">
                  <div class="title">
                    <h2>What have I learned&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-check"></i>Further practice of
                      Angular
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Very DRY structure:
                      reused components, variable data passed through objects
                      like an API response
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>Pictures have been
                      resized and compressed to improve loading performance
                    </p>
                    <p>
                      <i class="fa-solid fa-check"></i>More attention on user
                      experience / user interface
                    </p>
                  </div>
                </div>
                <div class="cons">
                  <div class="title">
                    <h2>What could be improved&nbsp;?</h2>
                  </div>
                  <div class="arguments">
                    <p>
                      <i class="fa-solid fa-arrow-trend-up"></i>The future will
                      tell me :)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <app-navigate [navigation]="navigation"></app-navigate>
  <app-footer></app-footer>
</div>
