.general-projects-container .project-container:nth-child(odd) {
  background: aliceblue;
}
.main-title {
  padding: 7em 0.625em 0;
  max-width: 1000px;
  margin: auto;
  color: var(--primary-color-2);
}
.main-title h1 {
  font-weight: 500;
}
.main-title hr {
  background: var(--primary-color-2);
  height: 1px;
  border: none;
}

.project-container {
  padding-top: 3em;
}

.introduction > img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 280px;
  object-fit: cover;
}
.general-description-container {
  margin-bottom: 3em;
}
.description {
  display: grid;
  max-width: 1000px;
  margin: auto;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em;
}
.date p {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--primary-color-1);
}
.introduction {
  position: relative;
}
.coding-languages {
  position: absolute;
  padding: 0.3em;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 0.3em;
}
.coding-languages img {
  display: block;
  height: 20px;
  border-radius: 0.2em;
}
.text {
  padding: 0.625em;
  text-align: justify;
}

.text .goal {
  margin-top: 1em;
}
.code-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
  font-size: 1.1em;
  margin-top: 2.5em;
}
.code-links a {
  cursor: pointer;
  font-weight: 600;
  color: #101924;
  text-decoration: none;
  transition: 0.3s;
}
.code-links a.github:hover {
  color: green;
}
.code-links a.live:hover {
  color: var(--primary-color-6);
}

.code-links i {
  color: black;
  font-size: 0.9em;
  margin-right: 0.4em;
}
.code-links i.fa-tower-broadcast {
  color: var(--primary-color-6);
}
.code-links .fa-github {
  font-size: 1.1em;
}

.progress.accordion {
  max-width: 1000px;
  margin: auto;
  padding: 0.625em;
}
.tabs {
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0px 2px 3px 0px rgb(160 160 160 / 83%);
}
.accordion .tab {
  overflow: hidden;
}
.tab input {
  display: none;
}
@property --color1 {
  syntax: "<color>";
  initial-value: #18276f;
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: #090f2d;
  inherits: false;
}
.tab label {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  font-weight: 600;
  color: var(--primary-color-1);
  cursor: pointer;
  -moz-background: var(--primary-color-2);
  background: linear-gradient(127deg, var(--color1) 30%, var(--color2));
  transition: --color1 0.6s ease-out, --color2 0.6s ease-out;
}
.tab label:hover {
  --color1: #0e1743;
  --color2: #18276f;
}
.label-titel {
  display: flex;
  align-items: center;
  gap: 0.4em;
  text-transform: uppercase;
}
.tab label::after {
  content: "â¯";
  display: block;
  text-align: center;
  transition: all 0.3s ease-out;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.3s ease-out;
}
input:checked ~ .tab-content {
  max-height: 700px;
  padding: 1em;
}
input:checked + label::after {
  transform: rotate(90deg);
}
.pro-contra-container i {
  margin-right: 0.5em;
}
.pros i {
  color: green;
}
.cons i {
  color: #bf0000;
}

.title h2 {
  color: var(--primary-color-2);
  font-size: 1.3em;
  font-weight: 600;
}
.cons h2 {
  color: black;
}
.pros {
  margin-bottom: 1.2em;
}
.arguments p {
  padding: 0.625em 0;
  padding-bottom: 0;
}

.text p:last-child {
  margin-top: 1em;
}

@media (min-width: 650px) {
  .description {
    grid-template-columns: 50% auto;
    gap: 1.5em;
    padding: 2em;
    padding-top: 0;
  }
  .project-container:nth-child(even) .introduction {
    order: 2;
  }
  .text {
    padding: 0;
  }
  .introduction > img {
    border-radius: 0.5em;
  }
  .progress.accordion {
    padding: 2em;
  }
  .main-title {
    padding: 7em 2em 0;
  }
}
