<div class="other-projects">
  <div class="project-container">
    <div class="general-description-container">
      <h2 class="section-title">Calculator</h2>
      <div class="description">
        <div class="introduction">
          <img
            src="../../assets/projects-img/calculator.png"
            alt="Image of a calculator"
          />
          <div class="date">
            <p>Dec. 2022</p>
          </div>
          <div class="coding-languages">
            <img
              src="../../assets/Javascript.png"
              alt="Coding language"
              title="Javascript"
            />
            <img
              src="../../assets/HTML5.png"
              alt="Coding language"
              title="HTML5"
            />
            <img
              src="../../assets/CSS3.png"
              alt="Coding language"
              title="CSS3"
            />
          </div>
        </div>
        <div class="text">
          <p>
            Calculator is a one page project. This project presents a basic, non
            scientific calculator, to handle simple computations. Simple does
            not mean easy: a lot of user input validations had to be done.
          </p>
          <p class="goal">
            Part of a
            <a
              href="https://drive.google.com/file/d/1yWuUFO9IWDAU3CtgaZkmigJOJR-izTMF/view"
              target="_blank"
              >Front-End training</a
            >, the purpose of this project is to handle multiple exceptions that
            can occur. Focus is put mainly on Javascript and the structure of
            the code. This project also offers a correct user experience,
            supporting mouse and keyboard inputs.
          </p>
          <div class="code-links">
            <a
              href="https://greenflag31.github.io/calculator"
              tabindex="-1"
              target="_blank"
              class="live"
            >
              <i class="fa-solid fa-tower-broadcast"></i>Live</a
            >
            <a
              href="https://github.com/GreenFlag31/calculator"
              tabindex="-1"
              target="_blank"
              class="github"
            >
              <i class="fa-brands fa-github"></i>Code</a
            >
          </div>
        </div>
      </div>
    </div>

    <section class="progress accordion">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" name="" id="item-1" />
          <label for="item-1">
            <div class="label-titel">Progress</div>
          </label>
          <div class="tab-content">
            <div class="pro-contra-container">
              <div class="pros">
                <div class="title">
                  <h2>What have I learned&nbsp;?</h2>
                </div>
                <div class="arguments">
                  <p>
                    <i class="fa-solid fa-check"></i>Deeper understanding of
                    Javascript
                  </p>
                  <p>
                    <i class="fa-solid fa-check"></i>Focus on user experience
                  </p>
                  <p>
                    <i class="fa-solid fa-check"></i>Handle multiple exceptions,
                    validation of user inputs
                  </p>
                  <p>
                    <i class="fa-solid fa-check"></i>Code structure, files
                    separated into modules to keep architecture optimal
                  </p>
                  <p>
                    <i class="fa-solid fa-check"></i>Use of JSDoc to document
                    code functions
                  </p>
                </div>
              </div>

              <div class="cons">
                <div class="title">
                  <h2>What could be improved&nbsp;?</h2>
                </div>
                <div class="arguments">
                  <p>
                    <i class="fa-solid fa-arrow-trend-up"></i>For high
                    structured projects, use of Object Oriented Programming
                    might be preferable
                  </p>
                  <p>
                    <i class="fa-solid fa-arrow-trend-up"></i>Use of Reactive
                    Programming might be preferable to maintain variables in a
                    flow, saving the need of manually updating them
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- <app-navigate [navigation]="navigation"></app-navigate> -->
  <app-footer></app-footer>
</div>
